.toggle-menu {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.toggle-menu span {
  position: absolute;
  height: 4px;
  width: 25px;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
}

.toggle-menu.active span:nth-child(3) {
  transform: translateX(60px);
}

.toggle-menu span:nth-child(1) {
  transform: translateY(-10px);
  left: 13px;
  width: 15px;
  transition-delay: 0.25s;
}

.toggle-menu span:nth-child(2) {
  transform: translateY(10px);
  left: 13px;
  width: 10px;
  transition-delay: 0.12s;
}

.toggle-menu.active span:nth-child(1) {
  width: 25px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle-menu.active span:nth-child(2) {
  transform: translateY(0) rotate(315deg);
  width: 25px;
  transition-delay: 0.175s;
}

.nav-links.active {
    transform: translateX(0);
}

.sub-menu-wrap {
  max-height: 0px;
  display: none;
}

.sub-menu-wrap.active {
  max-height: 240px;
  display: block;
}